html, body
  margin 0
  padding 0
  height 100%
  display flex
  justify-content center
  align-items center
button
  margin 5px
  font-size 15px
  cursor pointer
  transition-duration .2s
  &:hover
    opacity .82
