html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet' href='build/css/style.css')
    title CSS random button generator by Karol Świerczek
  body
    div(class='info') Random button generator
    button#classicButton Classic button
    button#gradientButton Gradient button
    button#retroButton Retro button
    button#clearButton Clear button
    div(class='info info__footer') To copy CSS style - Right click on the button, then "Inspect element" and copy CSS rules
    script(src='build/js/ButtonGenerator.js')
    script(src='build/js/index.js')