html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet' href='build/css/style.css')
    title Css button generator
  body
    div(class='info') Random button generator
    button#classicButton Classic button
    button#gradientButton Gradient button
    button#retroButton Retro button
    div(class='info info__footer') To copy CSS style - Right click on the button, click "Inspect element" and copy CSS rules 
    script(src='build/js/ButtonGenerator.js')
    script(src='build/js/index.js')